
  .w3-animate-bottom {
    animation: animatebottom 1.5s;
  }
  HR{
    width: 90%;
    border: 0;
    margin: auto;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0.5;
  }
  html,
  body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  p,h1,h2,h3,h4,h5{
    font-family: sans-serif;
  }
  
  .hide {
    display: none;
  }

  .visibility {
    visibility: hidden;
  }


  .myExperience h1 {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 0 30px 0;
    text-align: center;
  }
  .myself-text h1 {
    font-family: sans-serif;
    color: #fff;
    font-size: 50px;
    padding: 50px 50px 0 0;
  }

  .myself-text p{
    padding: 50px 0 0 0;
  }

  .myself-text {
    top:15%;
    position: absolute;
    left: 20%;
    font-size: 20px;
    color: #fff;
    z-index: 10;
  }
  /* self-introduction */

  .pic {
    width: calc(9em + 30%);
  }
  .pic img {
    width: 100%;
    margin: 0 10px 0;
    border-radius: 50%;
  }

  .myData {
    background: #fff;
    padding:100px 100px 100px 100px;
  }
  
  .MyResume {
    padding: 65px 0 0 0;
    
  }

  .Mytext h2{
    font-family: sans-serif;
    font-size: 34px;
    font-weight:bold;
  }
  .Mytext {
    padding-top: 10%;
    line-height: 30px;
    text-align: left;
    font-size: 18px;
  }

  .aboutme {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px 0 ;
  }

  /* Skills & Hobbies */

  .SkillHobbies {
    padding: 5%;
    line-height: 30px;
    text-align: left;
    font-size: 18px;
  }
  .SkillHobbies h2{
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 30px;
  }
  .SkillHobbies h3{
    font-weight: bold;
  }

  /* Education */
  .myEducation {
    width: 100%;
    background: #fff;
    padding: 50px 100px;
  }
  .myEducation h2{
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 30px;
  }

  /* Project experience */
  .myExperience {
    width: 100%;
    background: #fff;
    padding:100px  100px;
  }

  .Expergird{
    display: flex;
    width: 100%;
    /* padding: 0 10% 0; */
  }
  .MyProject {
    box-shadow: 0 0 15px #dadadae1;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 0 20px 0;
    border-radius: 5px;
  }

  .Expic img {
    width: 80%;
    padding: 0 15px 0;
  }
  .Extext h3{
    font-family: sans-serif;
    font-weight:bold;
  }
  .Extext{
    width: 100%;
    text-align: center;
    font-size: 16px;
 
  }
  .Extext strong{
    color:#2e659c;
  }
  .Extext strong:hover{
    font-size: 22px;

  }
  /* skills */
  .mySkill {
    width: 100%;
    background: #fff;
    padding: 100px 100px 100px 100px;
  }
  .skill-btn{
    padding: 500px 10% 0;
  }
  .mySkill h2 {
    text-align: left;
    font-weight:bold;
  }

  .front-end,.back-end,.Other  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding: 100px 15% 100px;
  }
  .bg-1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .skill-text{
    width: 50%;
    padding: 0 50px 0;
    text-align: left;
    font-size: 18px;
  }

  .skill-chart {
    width: 50%;
    padding: 20px;
  }

  .bar {
    background-color: #f2f2f1;
    width: 100%;
    height: 24px;
    margin-bottom: 20px;
  }

  .bar-front {
    background-color: #2ecc71;
    width: 0%;
    height: 100%;
    position: relative;
    transition: width 200ms linear;
  }

  .bar-front::after {
    position: absolute;
    right: 2.5%;
    content: attr(data-percent);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .bar-back {
    background-color: #2ecc71;
    width: 0%;
    height: 100%;
    position: relative;
    transition: width 200ms linear;
  }

  .bar-back::after {
    position: absolute;
    right: 2.5%;
    content: attr(data-percent);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .bar-other {
    background-color: #2ecc71;
    width: 0%;
    height: 100%;
    position: relative;
    transition: width 200ms linear;
  }

  .bar-other::after {
    position: absolute;
    right: 2.5%;
    content: attr(data-percent);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
 
  /* contact me */
  .callme {
    display: flex;
    flex-direction: column;
    width:100% ;
    background: #3D3D50;
    padding: 50px 0 50px 0;
    align-items: center;
  }
  .item-group{
    display: flex;
    flex-direction: row;
    border-right:0;
    padding: 30px 100px;
    width: 100%;
    justify-content: center;
  }
  .contact-bottom{

    padding: 0 100px ;
  }
  .item {
    display: flex;
    align-items: center;
  }

  .callme .cpic img {
    width: 40px;
  }

  .calltext p{
    color: #fff;
    text-align: left;
    padding: 0 20px;
  }
  .contact-bottom a{
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px 0;
  }
  .bottom-text{
    background: #3D3D50;
    text-align: center;
    margin: 0;
  }
  @media (max-width: 1200px) {
    .aboutme{
      display: block;
    }
    .pic {
      width: 100%;
    }
    .pic img{
      width: 300px;
    }
    .Mytext {
      width: 100%;
    }
    .myExperience {
      padding:50px 100px;
    }
    .Expergird  {
      display: block;
    }
    .MyProject {
      margin: 50px 0;
    }
  }

  @media (max-width: 992px) {
    .front-end,.back-end,.Other  {
      display: block;
      padding: 100px 15% 100px;
    }
    .mySkill h2 {
    text-align: center;
    }
    .skill-text{
      width: 100%;
      text-align: center;
    }
    .skill-chart {
      width: 100%;
      padding: 20px;
    }
    .skill-btn{
      padding: 750px 10% 0;
    }
    .callme{
      display: block;
      display: flex;
      flex-direction: column;
      padding: 0 50px 0;
      width:100% ;
    }
    .item-group{
      border-right:0;
      padding: 0 50px;
      width:100% ;
      
    }
    .item {
      justify-content: center;
    }

    .callme .cpic img {
      width: 24px;
    }
    .calltext p{
      text-align: left;
      padding: 0 20px;
    }
    .contact-bottom{
      display: flex;
      justify-content: center;
      flex-direction: row;
      width:100%;
    }
    .contact-bottom a{
      padding: 0 5px ;
    }

	}

  @media (max-width: 768px) {
    .skill-btn{
      padding: 830px 10% 0;
    }
    .myself-text {
      position: absolute;
      top: 10%;
      left: 5%;
      font-size: 18px;
      font-weight: bold;
    }
  

  }
  @media (max-width: 576px) {
    .myData {
      padding: 50px 50px;
    }

    .aboutme {
      padding: 0 10px 0 ;
    }
    .Mytext {
      padding:0;
      text-align: center;
    }
    .myExperience {
      padding:0;
      margin: 0;
    }
    .front-end,.back-end,.Other  {
      padding: 50px 10%;
    }
    .skill-text{
      display: none;
    }
    .skill-btn{
      padding: 400px 10% 0;
    }
    .bg-1 {
      display: inline-block;
    }
 
  }
